body {
  color: goldenrod;
  margin: 0px;
  padding: 0px;
  background: black
}

h1 {
  font-size: 5.5vh;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 3.5vh;
  margin: 0px;
}

#wrapper {
  text-align: center;
  width: 800px;
  height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  display: none;
  width: 800px;
  height: 630px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  display: none;
  background-color: green;
  font-size: 25px;
  margin: 20px auto;
}

#extraMessage {
  display: none;
  color: red;
  font-size : .8em;
  margin: 20px auto;
}

