body {
  color: goldenrod;
  margin: 0px;
  padding: 0px;
  background: black;
  position: absolute;
}

h1 {
  font-size: 5.5vh;
  padding: 0px;
  margin: 10px 0px;
}

h2 {
  font-size: 3vh;
  margin: 0px;
}

#wrapper {
  text-align: center;
  width: 800px;
  height: 600px;
  max-height: 70vh;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  display: none;
  max-height: 78vh;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  display: none;
  background-color: green;
  font-size: 25px;
  margin: 20px auto;
}

#extraMessage {
  display: none;
  color: red;
  font-size : .8 em;
  margin: 5px auto;
}


